<section id="Seccion_Educacion">
    <h1>Educación</h1>
    <div class="container-fluid">
        <div *ngFor="let item of educacion" class="row">
          <div class="col-2">
            <img [src]="item.img" class="img-fluid" style="background-color: cornflowerblue;" alt="">
          </div>
          <div class="col-8">
            <h2>{{item.school}}</h2>
            <p>{{item.title}} - {{item.career}}</p>
            <p>{{item.start}} - {{item.end}}</p>
          </div>
        </div>
      </div>
  </section>
